body {
    font-family: "Dosis", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
.testimonial {
    font-family: "Cormorant", serif;
}
.handwritting {
    font-family: "Herr Von Muellerhoff", cursive;
}

.menu-open {
    transition: ease, transform 1s ;
    transform: translateX(0%);
   
}

.menu-close {
    transition: ease, transform 1s ;
    transform: translateX(100%);
}